language: php

php:
    - 5.6
    - 7.1

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1

before_script:
    - bash tests/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION 

script: phpunit
