.papercite_bibtex {
    display: none;
}

.papercite_bibtex pre {
    white-space: pre-wrap;
}

.papercite_toggle:link, .papercite_toggle:visited {
    color: gray;
    text-decoration: none;
}


.papercite_link, .papercite_link:link, .papercite_link:visited {
  color: #222;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.papercite_info {
  color: #555;
}